
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

@font-face {
    font-family: fontfamily;
    src: url('./fonts/Aerotis.ttf') format('opentype');
  }

*{
    font-family: 'Abel', sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:visited{
    color: black;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-right: 15px;
}

.logo{
    padding-top: 20px;
    height: 150px;   
}

.lista{
    padding-left: 15px;
    display: flex;
    gap: 5vw;
    font-size: 1.9em;
    margin: 10px 0 10px 0;
    
}

.lista a{
    color: #013b21;
    border-bottom: 1px solid #02020252;
}

.lista a:hover{
    color: #39d6bc;
}

footer button{
    height: 80px;
    width: 265px;
    border-style: none;
    border-radius: 10px;
    background-color: #39d6bc;
    color:black;
    font-size: 1.5em;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.075);
}

footer button:hover{
    background-color: #258f7d;
    color: white;
    
}


footer button img{
    height: 40px;
    padding-right: 10px;
    padding-left: 5px;
}


#sobre{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-image: url(./image/bakcground-sobre.jpg);
    background-size: cover;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding-bottom: 40px;

}

.nutri{
    height: 600px;
}

.left{
    border-radius: 10px;
    background-image: linear-gradient(to right , #258f7d, #39d6bc);
    box-shadow: 0 10px 15px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.075);   
    transition: transform 1s, opacity 0.3s; 
}

.block{
    display: flex;
    flex-direction: column; 
    max-width: 400px;
    align-items: center;
    text-align: justify;
    text-justify: inter-word;
    margin: 15px;
    
}

.block h1{
    text-align: center;
    font-size: 2.5em;
    font-family: Aerotis;
}

.text_sobre{
    font-size: 1.5em;
    padding-bottom: 20px;
    margin: 0 10px 0 10px;
}

.CRN{
    margin-bottom: 25px;
}

#modoDeTrabalho{
    margin-top: 40px;
}

#modoDeTrabalho img{
    border-radius: 50%;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.075);   
    width: 90px;
}

#modoDeTrabalho h2{
    font-size: 3em;
    text-align: center;
    margin-bottom: 50px;
}

.containerCard{
    display: flex;
    justify-content: space-around;
}

.cards{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    font-size: 2em;
}














































/*#planos h2{
    text-align: center;
    text-align: center;
    padding: 30px 0 40px 0;
    font-size: 1.5em;
}

.planosTrabalho{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}

.box{
    max-width: 400px;
}


#modoDeTrabalho h2{
    text-align: center;
    padding: 30px 0 40px 0;
}
*/































@media screen and (max-width: 1400px){
    .containerCard{
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }
}

@media screen and (max-width: 900px) {
    footer{
        flex-direction: column;
        gap: 35px;
    }

    .left{
        margin-left: 15px;
        margin-top: 20px;
    }
    .block h1{
        font-size: 2.1em;
    }

    footer{
        padding-right: 0;
    }

}

@media screen and (max-width: 600px) {

    #sobre{
        flex-direction: column-reverse;
        align-items: center;
    }

    .left{
        margin-right: 15px;
    }

    .lista{
        flex-direction: column;
        align-items: center;
    }
    
}
